/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Custom Styles */

/* Common Styles */

.container{
    max-width: 1300px;
    margin: 0 auto;
}

.padding{
    padding: 10px;
}

.flex{
    display:flex;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.wrap{
    flex-wrap: wrap;
}

.text-center{
    text-align: center;
}

a{
    background: #377E80;
    border: none;
    outline: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

/* Specific color */

body{
    background-color: #FDF5E8;
}

.brand{
    background-color: #377E80;
    color: #F9EC56;
    font-size: 28px;
    font-weight: 900;
    padding: 20px 0;
}

.book{
    margin: 10px;
    padding:30px 10px;
    flex: 0 1 30%;
    background: rgb(255, 255, 255);
    border-radius: 10px;
}

.book-img{
    width: 50%;
}

.book-heading{
    font-weight: 800;
    font-size:18px;
}

.author{
    color: #a6a6a6;
    padding-bottom:10px;
    margin: 10px 0;
}